.wip-calculator-form {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.center-of-page{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  text-align:center;
  transform: translateX(-50%);
}